fastapi==0.109.1
uvicorn==0.20.0
sqlmodel==0.0.8
black==24.3.0
isort==5.12.0
python-dotenv==1.0.0
google-auth==2.16.3
google-auth-oauthlib==1.0.0
firebase-admin==6.1.0
psycopg2==2.9.5
passlib==1.7.4
bcrypt==4.0.1
ruff ==0.9.9
loguru==0.7.2
pyyaml==6.0.1
sqlalchemy_utils==0.41.2
boto3==1.35.49
